body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.navbar-brand {
    font-size: 20px;
    font-weight: bold;
}

.navbar {
    background-color: #333;
    color: #fff;
}

.navbar-nav .nav-link {
    color: #fff;
}

.navbar-nav .nav-link:hover {
    color: #ccc;
}

.navbar-brand:hover {
    color: #ccc;
}

.jumbotron {
    background-color: #333;
    color: #fff;
}

.jumbotron h1 {
    font-size: 48px;
}